/* Variables */

:root {
  /*Я разделил: --special - цвета описания состояний интерактивных
   элементов, --basic - цвета фонов и неинтерактивных элементов (если цвет
   используется и в описании состояний интерактивных элементов - то оставляю
   в --basic.
   Верно ли такое разделение? */
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-light: #EEEEEE;
  --basic-brown-light: #766357;
  --basic-extra-light: #F2F2F2;
  --basic-light-brown: #E5E5E5;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-grey: #666666;
  --special-brown: #CACACA;
  --special-blue: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-extra-light: #EBEBEB;
  --special-grey: #A9A9A9;
}


/* Global */

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family:"PT Sans", "Arial", sans-serif; /*Можно ли так подключить
  шрифты; обязательно подключать шрифты через css-директивы и скачивать форматы
   woff и woff2 (в таком случае куда пареместить скаченную папку с woff
   и woff2, чтобы шрифты подключились)?*/
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark, #333333);
  background-color: var(--basic-white, #FFFFFF);
}

img {
max-width: 100%;
height: auto;
} /* в итоге картинки немного иначе браузером
отображаются, особенно карта; стоит ли использовать?*/

a {
  text-decoration: none;
}

/*Скрытые заголовки и скрытые описания ссылок*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black, #000000);
  background-color: transparent;
}

.site-navigation {
  background-color: var(--basic-white, #FFFFFF);
/*Сделал по образцу. Можно ли было просто задать прозрачный фон изображению
логотипа?*/
/*Почему-то у ссылок меню снова появились подчеркивания и метки-кружки?*/
  list-style: none;
}
/*А подчеркивания так и не исчезли?*/

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white, #FFFFFF);
} /* В образце было -current: для чего? Я пока оставил. Для чего это правило
сделали?*/

.site-navigation a {
  color: var(--basic-black, #000000);
  text-decoration: none; /*Вынужден продублировать. Как сделать, чтобы не
  повторялось?*/
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-light, #EEEEEE);
}

a.current-page {
  color: var(--basic-brown-light, #766357);
}

/*Title*/

.title {
  background-color: var(--basic-light, #EEEEEE);
  background-image: url("img/background-photo-1.jpg"); /*Не отображается?*/
  background-image: url("img/svg/intro-mask.svg"); /*Не отображается?*/
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
} /*Как расположить один фон по центру, а второй фон - снизу
  по центру?*/

/*Features*/

.features h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black, #000000);
}

.features > p {
  line-height: 26px;
}

.features-title {
  text-align: center;
  border: 1px solid var(--basic-white, #FFFFFF);
}

/*Search*/

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black, #000000);
  text-align: center;
}

.search p {
  text-align: center;
}

/* Button */

.button-brown {
  font: inherit;
  font-size: 21px;
  line-height: 26px; /*Если текст в одну строку, нужно ли переопределять line-height?*/
  color: var(--basic-white, #FFFFFF);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown-light, #766357);
  border: none;
}
 /*Как можно минимилизировать стили для кнопок: их 3 вида по цвету
 и от ображению при наведении (которые, в свою очередь, делятся
 на 2 типа по размеру)?*/
 /*Как задать размер отображения кнопке?*/

.button-brown:hover,
.button-brown:focus {
  background-color: var(--special-brown, #604E43);
} /*При фокусе появляется пунктирная обводка: как ее можно убрать?*/

.button-brown:active {
  background-color: var(--special-brown-dark, #503E33);
}

.button-blue {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white, #FFFFFF);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue-light, #81B3D2);
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--special-blue, #669EC0);
}

.button-blue:active {
  background-color: var(--special-blue-dark, #5496BD);
}

/*form */

.input-date input,
.input-quantity input {
  font: inherit;
  border: none;
  background-color: var(--basic-extra-light, #F2F2F2);
}
/*Как размеры полей задавать?*/

.input-date input:hover,
.input-quantity input:hover {
  background-color: var(--special-extra-light, #EBEBEB);
}

.input-date input:focus,
.input-quantity input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-light-brown, #E5E5E5);
}

.calendar-icon {
  background-image: url("img/svg/calendar.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
} /*Иконка календаря не отображается?*/

/*Как поле ввода с кнопками + и - объединить ?*/

/* Main footer */

/*Как слегка прозрачный фон футера навесить над картой?*/
.main-footer {
   background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black, #000000);
  text-decoration: none;
}

.footer-contacts {
text-align: center;
vertical-align: middle;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black, #000000);
  text-align: center;
}

.footer-copyright img {
  vertical-align: middle;
}

/* Social button */

.twitter {
  background-image: url("img/svg/twitter.svg"); /*Не отображается?*/
  background-position: center center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("img/svg/fb-icon.svg"); /*Не отображается?*/
  background-position: center center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("img/svg/youtube.svg"); /*Не отображается?*/
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button {
  background-color: var(--basic-blue-light, #81B3D2);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue, #669EC0);
}

.social-button:active {
  background-color: var(--special-blue-dark, #5496BD);
}

/*Copyright button*/
/*Как заменить картинку логотипа html-академии при наведении и
нажатии (или, может быть, можно цвет svg изображения менять)?*/

/*.footer-copyright a:hover,
.footer-copyright a:focus {

}

.footer-copyright a:active {

}
*/

/*Catalog*/

.catalog-list {
  list-style: none;
}

.catalog-item-image {
  background-color: var(--basic-light, #EEEEEE);
}

a.name-hotel {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black, #000000);
}

a.name-hotel:hover,
a.name-hotel:focus {
  color: var(--basic-blue-light, #81B3D2);
}

a.name-hotel:active {
  color: var(--basic-black, #000000);
  opacity: 0.3;
}

.rating span {
  background-image: url("img/svg/star.svg"); /*Не отображается?*/
  background-position: center center;
  background-repeat: repeat-x;
  /*5 звезд чтобы отобразились: нужно задать нужный размер <span> и
  применить repeat-x; или background-image продублировать 3 раза?*/
}
/*Задать разные классы для 5ти, 3х и 2х звезд?*/

.rating p {
  color: var(--basic-grey, #666666);
  background-color: var(--basic-extra-light, #F2F2F2);
}
