/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-light: #EEEEEE;
  --basic-brown-light: #766357;
  --basic-extra-light: #F2F2F2;
  --basic-light-brown: #E5E5E5;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-grey: #666666;
  --special-brown: #CACACA;
  --special-blue: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-extra-light: #EBEBEB;
  --special-grey: #A9A9A9;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  text-transform: uppercase;
  font-family:"PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

img {
max-width: 100%;
height: auto;
}

a {
  text-decoration: none;
}

/*Скрытые заголовки и скрытые описания ссылок*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
 }

.site-navigation {
  list-style: none;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown-light);
}

.site-navigation a {
  font: inherit;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue-light);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Title*/

.title {
  background-color: var(--basic-light);
  background-image: url("../img/background-photo-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
/*+ бэкграунд сайз?*/

.title div {
  background-image: url("../img/svg/intro-mask.svg"); /*Не отображается?
  Посмотреть «Рамки и фоны, часть 2» + после прохождения лекции о сетках*/
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}


/*Features*/

.features h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.features-title p {
  line-height: 26px;
}

.features-title {
  text-align: center;
}

/*Search*/

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
}

.search p {
  text-align: center;
}

/* Button */
/*Проставить кнопкам классы *button button-brown* после прохождения
лекции о сетках*/
.button-brown {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-brown-light);
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--special-brown);
}

.button-brown:active {
  background-color: var(--special-brown-dark);
}

.button-blue {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue-light);
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--special-blue);
}

.button-blue:active {
  background-color: var(--special-blue-dark);
}

/*form */

.input-date input,
.input-quantity input {
  font: inherit;
  border: none;
  background-color: var(--basic-extra-light);
}

.input-date input:hover,
.input-quantity input:hover {
  background-color: var(--special-extra-light);
}

.input-date input:focus,
.input-quantity input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-light-brown);
}

.calendar-icon {
  background-image: url("../img/svg/calendar.svg");
  background-position: center center;
  background-repeat: no-repeat;
} /*Иконка календаря поменяла цвет на черный*/

/*Поле ввода с кнопками + и - объединить ?*/
/* Main footer */
/*Как слегка прозрачный фон футера навесить над картой?*/

.main-footer {
   background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-contacts {
text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

/* Social button */

.twitter {
  background-image: url("../img/svg/twitter.svg"); /*Не отображается
  без задания размеров*/
  background-position: center center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../img/svg/fb-icon.svg"); /*Не отображается без
  задания размеров*/
  background-position: center center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../img/svg/youtube.svg"); /*Не отображается без
  задания размеров*/
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button {
  background-color: var(--basic-blue-light);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue);
}

.social-button:active {
  background-color: var(--special-blue-dark);
}

/*Copyright button*/
/*Замену цвета интерактивной картинки логотипа html-академии сделать,
 если успею*/

/*.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--special-blue-dark);
}

.footer-copyright a:active {

}*/


/*Catalog*/

.catalog-list {
  list-style: none;
}

.catalog-item-image {
  background-color: var(--basic-light);
}

a.name-hotel {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

a.name-hotel:hover,
a.name-hotel:focus {
  color: var(--basic-blue-light);
}

a.name-hotel:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating span {
  background-image: url("../img/svg/star.svg"); /*24 Не отображается
  (span строчный блок, задать ширину блока)?*/
  background-position: center center;
  background-repeat: space;
  /*5 звезд чтобы отобразились: нужно задать нужный размер <span> и
  применить space */
}
/*Задать разные классы для 5ти, 3х и 2х звезд?*/

.rating p {
  color: var(--basic-grey);
  background-color: var(--basic-extra-light);
}
