/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-light: #EEEEEE;
  --basic-brown-light: #766357;
  --basic-extra-light: #F2F2F2;
  --basic-light-brown: #E5E5E5;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-grey: #666666;
  --special-brown: #CACACA;
  --special-blue: #669EC0;
  --special-blue-dark: #5496BD;
  --special-brown: #604E43;
  --special-brown-dark: #503E33;
  --special-extra-light: #EBEBEB;
  --special-grey: #A9A9A9;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  text-transform: uppercase;
  font-family:"PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

img {
max-width: 100%;
height: auto;
}

a {
  text-decoration: none;
}

/**, *::before, *::after {
  box-sizing: border-box;
}*/  /* Пока не применять*/

/*Скрытые заголовки и скрытые описания ссылок*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*index.html*/


/* Main navigation*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
 }

.site-navigation {
  list-style: none;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown-light);
  cursor: default;
}

.site-navigation a {
  font: inherit;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue-light);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Title*/

.title {
  background-color: var(--basic-light);
  background-image: url("../img/background-photo-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.title div {
  background-image: url("../img/svg/intro-mask.svg");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0px 20px 0px; /*После задания внутрених отступов
  стал отображаться. Разместить где нужно: посмотреть «Рамки и фоны,
  часть 2» (background-origin, бэкграунд сайз, множественный фон) +
  после прохождения лекции о сетках.*/
}

/*Features*/

.features h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.features-title p {
  line-height: 26px;
}

.features-title {
  text-align: center;
}

ul.advantages-list,
ul.feature-list {
  list-style: none;
}

div.blue-background {
  background-color: var(--basic-blue-light);
}

.blue-background h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-white);
}

.blue-background p {
  color: var(--basic-white);
}

div.housing {
  width: 75px;
  height: 72px;
  background-image: url("../img/svg/icon-1.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

div.meal {
  width: 75px;
  height: 70px;
  background-image: url("../img/svg/icon-3.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

div.souvenir {
  width: 75px;
  height: 72px;
  background-image: url("../img/svg/icon-2.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.feature-item h4 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

.advantages-item-2 h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

/*Search*/

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
}

.search p {
  text-align: center;
}

/* Button */
/*Проставить кнопкам классы *button button-brown text full-width*
после прохождения лекции о сетках*/
.button-brown {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-brown-light);
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--special-brown);
}

.button-brown:active {
  background-color: var(--special-brown-dark);
}

.button-blue {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue-light);
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--special-blue);
}

.button-blue:active {
  background-color: var(--special-blue-dark);
}

/*form */

.input-date input,
.input-quantity input {
  font: inherit;
  border: none;
  background-color: var(--basic-extra-light);
}

.input-date input:hover,
.input-quantity input:hover {
  background-color: var(--special-extra-light);
}

.input-date input:focus,
.input-quantity input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-light-brown);
}

.calendar-icon {
  background-image: url("../img/svg/calendar.svg");
  background-position: center center;
  background-repeat: no-repeat;
} /*Иконка календаря поменяла цвет на черный*/

/*Поле ввода с кнопками + и - объединить ?*/

/* Main footer */

/*Cлегка прозрачный фон футера навесить над картой через
отрицательный маржин-топ*/

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

/*Footer-contacts*/

.footer-contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

/*Footer-social*/

.footer-social ul {
  list-style: none;
}

a.social-button {
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue-light);
}

/*Чтобы белые иконки отобразились - нужно отключить белый фон у
.main-footer и body*/

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue);
}

.social-button:active {
  background-color: var(--special-blue-dark);
}

/*Footer-copyright*/

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

/*Замену цвета интерактивной картинки логотипа html-академии сделать,
 если успею(+<img> на <svg> для этого заменить)*/

/*.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--special-blue-dark);
}

.footer-copyright a:active {
  color: var(--special-blue-dark);
}*/


/*hotels.html*/

/*filters*/

div.filters {
  background-color: var(--basic-light);
  background-image: url("../img/background-filter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.filter legend {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  font: inherit;
  list-style: none;
  color: var(--basic-white);
}

div.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

/*Стили для кнопки задам, когда пойму, как задавать размеры
кнопкам: чтобы задать множественные классы всем кнопкам.*/

/*sort*/

.sort h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sort p {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed #81B3D2;
}

.breadcrumbs-active a {
  color: var(--basic-blue-light);
  opacity: 1;
  border-bottom: none;
}

/*Сделать, если успею:*/
/*.breadcrumbs a:hover,
.breadcrumbs a:focus {
  background-color:  ;
}*/

/*sort-list*/

.sort-list {
  list-style: none;
}

/*Catalog*/

.catalog-list {
  list-style: none;
}

.catalog-item-image {
  background-color: var(--basic-light);
}

a.name-hotel {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

a.name-hotel:hover,
a.name-hotel:focus {
  color: var(--basic-blue-light);
}

a.name-hotel:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.rating div {
  width: 90px;
  height: 18px;
  background-image: url("../img/svg/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.rating .four-stars {
  width: 90px;
  height: 18px;
}

.rating .three-stars {
  width: 65px;
  height: 18px;
}

.rating .two-stars{
  width: 41px;
  height: 18px;
}

.rating p {
  color: var(--basic-grey);
  background-color: var(--basic-extra-light);
}
